@import 'colors';

.demo {
  @media screen and (max-width: 1300px) {
    section {
      font-size: 2vw;
    }
  }

  &.reveal {
    position: absolute;

    img.demo-img__quarter {
      width: 35%;
      height: 35%;
    }
  }

  .demo-chart {
    background: $white;

    &.demo-chart__half {
      width: 50%;
    }

    &.demo-chart__center {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .demo-text-block {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .demo-text-block--math {
    font-size: 1.5vw;
    margin-bottom: 40px;
  }
}
